$dim-text: #888;
$dim-background: #fbfbfb;
/*
 Custom CSS Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background-color: green; */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  /* background-color: transparent; */
  mix-blend-mode: multiply;
}
input,
button,
textarea,
select {
  font: inherit;
}

// /****************helper classes*
.dim-text {
  color: $dim-text;
}
.hidden {
  opacity: 0;
  transition: 1s;
}
.hidden.active {
  opacity: 100;
}
.hidden2 {
  opacity: 0;
  transition: 1s;
}
.hidden2.active {
  opacity: 100;
}

/* ********************* */

body {
  font-family: "Raleway", sans-serif;
  display: flex;
}
.main-sidebar {
  width: 25%;
  // float: left;
  background-color: black;
  background-color: $dim-background;
  border-radius: 10px;
  display: flex;
  align-items: center;
  div {
    transform: rotate(90deg);
    font-size: 20px;
    color: rgba(60, 60, 80, 0.788);
  }
}
main {
  // float: left;
  width: 70%;
  padding: 30px;
}
// section-1*********************
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

  border-bottom: 1px solid #f3f3f3;
}
.dates {
  .date-1 {
    font-weight: bold;
    font-size: 28px;
  }
  .date-2 {
    color: $dim-text;
    font-weight: 600;
  }
}
.location-search-box {
  color: $dim-text;
  width: 30%;
  // background-color: #f3f3f3;
  input {
    padding: 10px;
    padding-left: 10px;
    // width: 150%;
    background-color: $dim-background;
    border-width: 0px;
    width: 100%;
    border-radius: 5px;
  }
  input:focus {
    border: 0px solid rgba(60, 60, 80, 0.788);
    // todo
    border: none;
  }
}

.section-sidebar {
  width: 30%;
  // float:   right;
}
// section overview*************
.section-overview {
  padding: 30px;
  padding-inline: 0;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
.main-cards {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.card {
  background-color: $dim-background;
  color: $dim-text;
  font-weight: 500;
  justify-content: center;
  height: 150px;

  padding: 15px 30px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 25px;

  .card-icon {
    height: 50px;
    width: auto;
    padding: 5px;
  }
  img {
    height: 10px;
    background: transparent;
  }
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-text-number {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card-text-1 {
  font-size: 24px;
  font-weight: 500;
}
.card-text-2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

// **********sidebar***********

.section-sidebar {
  // background-image: url("https://webgradients.com/public/webgradients_png/022%20Morpheus%20Den.png");
  // background: rgba(46, 46, 121, 0.788);
  background-image: linear-gradient(
    rgba(70, 70, 175, 0.788),
    rgba(60, 60, 80, 0.788)
  );
  padding: 30px;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location {
  font-weight: normal;
}
.city {
  color: #eee;
}
.gif-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
.gif-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.temperature {
  font-size: 40px;
}
.gif-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sunrise-set {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .sun-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(117, 117, 180, 0.548);
    // background-color: #;

    border-radius: 10px;
    padding: 10px 20px;
  }
  .div1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h3 {
    font-weight: 500;
  }
  img {
    height: 30px;
  }
}
.sunrise-time {
  font-size: 24px;
  font-weight: 500;
}
.sun-rise-icon {
  color: white;
}

// ****************
.chartContainer {
  background-image: linear-gradient(
    rgba(70, 70, 175, 0.788),
    rgba(60, 60, 80, 0.788)
  ) !important;
}
.canvasjs-chart-credit {
  opacity: 0;
}
.forecast-graph {
  margin-top: 30px;
  margin-bottom: 30px;
}
